.circle{
    position: relative;
    border: solid 1px white;
    border-radius: 50%;
    margin: 1.75em auto 0;
}

.circle-big {
    width: 35em;
    height: 35em;
}

.circle-medium {
    top: 3em;
    width: 25em;
    height: 25em;
}

.circle-little {
    top: 3em;
    width: 15em;
    height: 15em;
}

.circle-big a {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 4em; height: 4em;
    margin: -2em;
}

.circle-big a img { 
  display: block; width: 100%;
  transition: 0.5s ease;
}

.circle-big a img:hover{
    transform: scale(1.2) rotate(360deg);
    transition-duration: 0.5s;
}

.me{
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 8em; height: 8em;
    border-radius: 50%;
    margin: -4em;
}

.linkedin { 
  transform: rotate(120deg) translate(7.5em) rotate(-120deg); 
}

.viadeo { 
  transform: rotate(240deg) translate(7.5em) rotate(-240deg); 
}

.mail { 
  transform: rotate(0deg) translate(7.5em) rotate(-0deg); 
}

.stackoverflow { 
  transform: rotate(10deg) translate(12.5em) rotate(-10deg); 
}

.github { 
  transform: rotate(100deg) translate(12.5em) rotate(-100deg); 
}

.bitbucket { 
  transform: rotate(190deg) translate(12.5em) rotate(-190deg); 
}

.codepen { 
  transform: rotate(280deg) translate(12.5em) rotate(-280deg); 
}

.facebook { 
  transform: rotate(342deg) translate(17.5em) rotate(-342deg); 
}

.twitter { 
  transform: rotate(54deg) translate(17.5em) rotate(-54deg); 
}

.instagram { 
  transform: rotate(126deg) translate(17.5em) rotate(-126deg); 
}

.googleplus { 
  transform: rotate(194deg) translate(17.5em) rotate(-194deg);
}

.snapchat { 
  transform: rotate(270deg) translate(17.5em) rotate(-270deg); 
}