body{
  background: url(../images/sky-lights-space-dark.jpg) no-repeat;
  background-size: cover;
}

.wrapper{
    padding-top: 70px;
}

.circle{
    position: relative;
    border: solid 1px black;
    border-radius: 50%;
    margin: 0 auto 0;
}

.circle-wrapper {
    background-color: rgba(255,255,255,0.8);
    box-shadow: 1px 10px solid black;
    width: 60em;
    height: 60em;
}

.circle-big {
    top: 7.5em;
    width: 45em;
    height: 45em;
}

.circle-medium {
    top: 7.5em;
    width: 30em;
    height: 30em;
}

.circle-little {
    top: 7.5em;
    width: 15em;
    height: 15em;
}

.circle-big a {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 4em; height: 4em;
    margin: -2em;
}

.circle-big a img { 
  display: block; width: 100%;
  transition: 0.5s ease;
}

.circle-big a img:hover{
    transform: scale(1.2) rotate(360deg);
    transition-duration: 0.5s;
}

.me{
    display: block;
    position: absolute;
    top: 50%; 
    left: 50%;
    width: 8em; 
    height: 8em;
    border-radius: 50%;
    margin: -4em;
    background: url("../images/me.jpeg") no-repeat; 
    background-size: 8em 8em;
    box-shadow: 0px 0px 75px rgba(0,0,0,0.5);
}

.linkedin { 
  transform: rotate(120deg) translate(11.25em) rotate(-120deg); 
}

.viadeo { 
  transform: rotate(240deg) translate(11.25em) rotate(-240deg); 
}

.mail { 
  transform: rotate(0deg) translate(11.25em) rotate(-0deg); 
}

.stackoverflow { 
  transform: rotate(10deg) translate(18.75em) rotate(-10deg); 
}

.github { 
  transform: rotate(100deg) translate(18.75em) rotate(-100deg); 
}

.bitbucket { 
  transform: rotate(190deg) translate(18.75em) rotate(-190deg); 
}

.codepen { 
  transform: rotate(280deg) translate(18.75em) rotate(-280deg); 
}

.facebook { 
  transform: rotate(342deg) translate(26.25em) rotate(-342deg); 
}

.twitter { 
  transform: rotate(54deg) translate(26.25em) rotate(-54deg); 
}

.instagram { 
  transform: rotate(126deg) translate(26.25em) rotate(-126deg); 
}

.googleplus { 
  transform: rotate(194deg) translate(26.25em) rotate(-194deg);
}

.snapchat { 
  transform: rotate(270deg) translate(26.25em) rotate(-270deg); 
}